@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --max-width: 960px;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  color: #333;
  padding: 0 0 80px;
  background: #f8f8f8;
  margin: 0;
}

header {
  background: #1e293b;
  color: #fff;
  > div {
    max-width: var(--max-width);
    width: calc(100% - 32px);
    margin: 0 auto;
    padding: 8px 0;
    display: flex;
    gap: 24px;
    align-items: center;

    h1 {
      margin: 0;
      font-size: 24px;
      display: flex;
      gap: 8px;
      align-items: center;
    }

    .search-input {
      flex: 1;
      position: relative;

      input {
        display: block;
        width: 100%;
        font-size: 16px;
        /* background: #f5f5f5; */
        color: #333;
        border: none;
        padding: 8px 8px 8px 48px;
        border: 1px solid #a3a3a3;
        border-radius: 4px;
      }

      input::placeholder {
        color: #a3a3a3;
      }

      .bi {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 18px;
        color: #a3a3a3;
      }
    }
  }
}

.sort-input {
  background: #fff;
  border-bottom: 1px solid #eee;

  > div {
    display: flex;
    gap: 8px;
    padding: 8px 0px;
    margin: 0 auto 0;
    font-size: 14px;
    align-items: center;
    max-width: var(--max-width);
  }

  button {
    padding: 8px 16px;
    background: #fff;
    border: none;
    border-radius: 2px;
    border: 1px solid #eee;
  }

  button:not(:disabled) {
    cursor: pointer;
  }

  .is-active {
    background: #ef4444;
    color: #fff;
    border: 1px solid #ef4444;
  }

  .total {
    color: #999;
    margin-right: auto;
  }

  ul {
    width: 240px;
    list-style: none;
    padding: 0;
    margin: 0;
    user-select: none;

    > li {
      position: relative;

      div {
        display: flex;
        padding: 8px 16px;
        background: #fff;
        border: none;
        border-radius: 2px;
        border: 1px solid #eee;
        cursor: pointer;

        .bi {
          margin-left: auto;
        }
      }
    }

    > li:hover > ul {
      opacity: 1;
      pointer-events: painted;
    }

    > li > ul {
      pointer-events: none;
      opacity: 0;
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(100%);

      li {
        div:hover {
          background: #ef4444;
          color: #fff;
          border: 1px solid #ef4444;
        }

        .is-active {
          background: #ef4444;
          color: #fff;
          border: 1px solid #ef4444;
        }
      }
    }
  }
}

.container {
  max-width: var(--max-width);
  width: 100%;
  margin: 32px auto;
  display: flex;
  gap: 32px;
}

.sidebar {
  width: 180px;

  h2 {
    margin: 0;
    font-size: 14px;
    color: #666;
  }
  ul {
    list-style: none;
    padding: 0;

    li {
      span {
        display: block;
        font-size: 14px;
        padding: 8px 16px;
        background: #fff;
        border: none;
        border-radius: 2px;
        border: 1px solid #eee;
        cursor: pointer;
      }

      span:hover {
        background: #ef4444;
        color: #fff;
        border: 1px solid #ef4444;
      }
    }

    li + li {
      margin-top: 4px;
    }
  }
}

.main {
  flex: 1;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0px auto 0;

  section {
    border: 1px solid #eee;
    border-radius: 4px;
    /* width: calc((100% - 16px * 4) / 5); */
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    background: #fff;
    align-items: center;

    .thumbnail {
      width: 140px;
      height: 100%;
      padding: 8px;
      background: #eee;
      img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }

    .availabilityStatus {
      position: absolute;
      top: 4px;
      left: 4px;
      font-size: 10px;
      text-transform: uppercase;
      background: rgb(255 255 255 / 0.8);
      padding: 2px 4px;
      color: #666;
      border-radius: 4px;
      opacity: 0.8;
    }

    .low-stock {
      background: #fee2e2;
      color: #b91c1c;
    }

    .in-stock {
      background: #d9f99d;
      color: #4d7c0f;
    }

    .body {
      flex: 1;
      padding: 16px;

      .title {
        font-size: 18px;
        font-weight: bold;
      }

      .description {
        font-size: 12px;
        color: #999;
      }

      .price {
        color: #ef4444;
        font-size: 18px;
        /* text-align: right; */
      }

      .rating {
        font-size: 14px;
        color: #fb923c;
      }

      p + p {
        margin-top: 8px;
      }
    }
  }
}
