@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --max-width: 960px;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  color: #333;
  padding: 0 0 80px;
  background: #f8f8f8;
  margin: 0;
}

header {
  background: #1e293b;
  color: #fff;
  > div {
    max-width: var(--max-width);
    width: calc(100% - 32px);
    margin: 0 auto;
    padding: 8px 0;
    align-items: center;
    @media (width >= 800px) {
      display: flex;
      gap: 24px;
      align-items: center;
    }

    h1 {
      margin: 0;
      font-size: 24px;
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;
    }

    .search-input {
      position: relative;
      margin-top: 8px;
      @media (width >= 800px) {
        flex: 1;
        margin-top: 0;
      }

      input {
        display: block;
        width: 100%;
        font-size: 16px;
        /* background: #f5f5f5; */
        color: #333;
        border: none;
        padding: 8px 8px 8px 48px;
        /* border: 1px solid #a3a3a3; */
        border-radius: 4px;
      }

      input::placeholder {
        color: #a3a3a3;
      }

      .bi {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 18px;
        color: #a3a3a3;
      }
    }
  }
}

.products-info {
  background: #fff;
  border-bottom: 1px solid #eee;

  > div {
    display: flex;
    gap: 8px;
    padding: 8px 0px;
    margin: 0 auto 0;
    font-size: 14px;
    align-items: center;
    max-width: var(--max-width);
    width: calc(100% - 32px);
    justify-content: space-between;
  }

  .total {
    color: #999;
  }

  dl {
    div {
      margin-top: 16px;
    }
    dt {
      /* font-weight: bold; */
      color: #777;
    }

    dd {
      margin: 8px 0 0;
    }
  }
}

.btn-filter {
  background: #fff;
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;

  @media (width >= 800px) {
    display: none;
  }
}

.filters.is-open {
  right: 0px;
  transform: translateX(0%);
  pointer-events: all;
}

.overlay.is-open {
  pointer-events: all;
  opacity: 1;
  /* 以下はまたちょっとやり方考える */
  @media (width >= 800px) {
    pointer-events: none;
    opacity: 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(0 0 0 / 0.6);
  z-index: 900;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.filters {
  @media (width < 800px) {
    max-width: 80%;
    position: fixed;
    top: 0;
    right: 0px;
    transform: translateX(100%);
    background: #fff;
    height: 100svh;
    z-index: 999;
    pointer-events: none;
    transition: transform 0.3s;
    overflow-y: scroll;
  }

  @media (width >= 800px) {
  }

  > div {
    padding: 16px;
    position: relative;
    @media (width >= 800px) {
      padding: 0;
    }

    > button {
      position: absolute;
      top: 8px;
      right: 8px;
      background: transparent;
      border: none;
      padding: 0;
      font-size: 24px;
      cursor: pointer;
      padding: 8px;

      @media (width >= 800px) {
        display: none;
      }
    }
  }

  h2 {
    font-size: 16px;
    margin: 0;

    @media (width >= 800px) {
      display: none;
    }
  }

  dl {
    @media (width >= 800px) {
      margin: 0;
    }
  }

  .sort {
    @media (width >= 800px) {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-top: 0;
    }
    dd {
      @media (width >= 800px) {
        display: flex;
        gap: 8px;
        margin-top: 0;
      }

      button {
        padding: 8px 16px;
        background: #fff;
        border: none;
        border-radius: 2px;
        border: 1px solid #eee;
        display: block;
      }

      button:not(:disabled) {
        cursor: pointer;
      }

      .is-active {
        background: #ef4444;
        color: #fff;
        border: 1px solid #ef4444;
      }

      button + button {
        margin-top: 8px;
        @media (width >= 800px) {
          margin-top: 0;
        }
      }
    }
  }

  ul {
    width: 240px;
    list-style: none;
    padding: 0;
    margin: 0;
    user-select: none;

    > li {
      position: relative;

      div {
        display: flex;
        padding: 8px 16px;
        background: #fff;
        border: none;
        border-radius: 2px;
        border: 1px solid #eee;
        cursor: pointer;

        .bi {
          margin-left: auto;
        }
      }
    }

    > li:hover > ul {
      opacity: 1;
      pointer-events: painted;
    }

    > li > ul {
      pointer-events: none;
      opacity: 0;
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(100%);

      li {
        div:hover {
          background: #ef4444;
          color: #fff;
          border: 1px solid #ef4444;
        }

        .is-active {
          background: #ef4444;
          color: #fff;
          border: 1px solid #ef4444;
        }
      }
    }
  }
}

.container {
  max-width: var(--max-width);
  width: calc(100% - 32px);
  margin: 16px auto;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0px auto 0;

  section {
    border: 1px solid #eee;
    border-radius: 4px;
    width: calc((100% - 16px * 1) / 2);
    /* width: 100%; */
    overflow: hidden;
    position: relative;
    background: #fff;
    /* display: flex;
    align-items: center; */
    @media (width >= 800px) {
      display: flex;
      align-items: center;
    }

    .thumbnail {
      width: 100%;
      aspect-ratio: 4/3;
      padding: 0px;
      background: #eee;

      @media (width >= 800px) {
        width: 160px;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
      }
    }

    .availabilityStatus {
      position: absolute;
      top: 4px;
      left: 4px;
      font-size: 10px;
      text-transform: uppercase;
      background: rgb(255 255 255 / 0.8);
      padding: 2px 4px;
      color: #666;
      border-radius: 4px;
      opacity: 0.8;
    }

    .low-stock {
      background: #fee2e2;
      color: #b91c1c;
    }

    .in-stock {
      background: #d9f99d;
      color: #4d7c0f;
    }

    .body {
      flex: 1;
      padding: 16px;

      .title {
        font-weight: bold;
      }

      .description {
        font-size: 12px;
        color: #999;
        display: none;

        @media (width >= 800px) {
          display: block;
        }
      }

      .price {
        color: #ef4444;
        /* text-align: right; */
      }

      .rating {
        font-size: 14px;
        color: #fb923c;
      }

      p + p {
        margin-top: 8px;
      }
    }
  }
}
